* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}
.mainCanvasContainer{
    position: absolute;
}
#mycanvas{
    position:absolute;
}

.buttonContainer{
    position:relative;
    left: 40px;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    /* width: calc(2 * 50px); */
}
button{
    margin: 10px;
    box-sizing: border-box;
}
canvas{
    border: 4px solid rgb(194, 178, 178);
    border-radius: 50px;
    background-color:rgb(255, 255, 255);
    height : 100vh;
    width: 100vw;
    cursor: crosshair;  
    position: relative;
    margin: auto;
}

.pen{
    display: flex;
    flex-direction: row;
}
.penSize{
    padding: 5px;
    display: none;
    
}
.flex{
    display: flex;
}

